<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471390217328-dr1vl50aotn2rhsk8mgq6ms6s3q5dv73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471390217328-dr1vl50aotn2rhsk8mgq6ms6s3q5dv73</string>
	<key>API_KEY</key>
	<string>AIzaSyCHwk8TNRpHYJOTwNyVTcNFTF6RRA_kNOI</string>
	<key>GCM_SENDER_ID</key>
	<string>471390217328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cpcemec.semsapp</string>
	<key>PROJECT_ID</key>
	<string>fir-pushnotif-b1ebb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pushnotif-b1ebb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471390217328:ios:c69d6272894f45432980b5</string>
</dict>
</plist>